<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.9.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <title>Filemoon</title>
  </head>
  <body>
    <div class="flex bg-gray-200 min-h-screen justify-center items-center">
      <div
        class="p-6 w-[420px] bg-white rounded-md flex flex-col items-center gap-4"
      >
        <div class="flex items-center gap-2">
          <i class="ri-moon-line text-5xl text-violet-700"></i>
          <h1 class="text-3xl font-semibold">Filemoon</h1>
        </div>
        <form class="w-full flex flex-col gap-4">
          <div class="space-y-2">
            <label class="block text-gray-700 text-[17px]">Fullname</label>
            <input
              name="name"
              class="p-3 rounded border border-gray-700 w-full"
              placeholder="Enter name"
              required
              type="text"
            />
          </div>
          <div class="space-y-2">
            <label class="block text-gray-700 text-[17px]">Email Id</label>
            <input
              name="email"
              class="p-3 rounded border border-gray-700 w-full"
              placeholder="email@mail.com"
              required
              type="email"
            />
          </div>
          <div class="space-y-2">
            <label class="block text-gray-700 text-[17px]">Mobile</label>
            <input
              name="mobile"
              class="p-3 rounded border border-gray-700 w-full"
              placeholder="Enter name"
              required
              type="number"
            />
          </div>
          <div class="space-y-2">
            <label class="block text-gray-700 text-[17px]">Password</label>
            <input
              name="password"
              class="p-3 rounded border border-gray-700 w-full"
              placeholder="enter password"
              required
              type="password"
            />
          </div>
          <button
            class="p-3 rounded bg-violet-500 border-gray-700 text-white w-full cursor-pointer font-medium hover:bg-violet-700"
          >
            Sign Up
          </button>
        </form>
        <div class="flex items-center gap-2">
          <p>Already have an account?</p>
          <a href="#" class="text-blue-400 hover:text-blue-600">Sign In</a>
        </div>
      </div>
    </div>
  </body>
</html>
